@import "_reset.scss";
@import "_breakpoint.scss";
@import "_skill.scss"; 
@import "_myButtons.scss";
@include border-box;

$purple: #7828B4;
$purple-light: #9013FE;
$white: #FFFFFF;
$black-100: #F2F2F2;
$black-300: #EBEBEB;
$black-500: #D7D7D7;
$black-700: #9B9B9B;
$black-900: #000000;

$font-base: 16px;
$font-l: $font-base*1.25;
$font-xl: $font-base*1.5;

// Breakpoints
$XL: 992;
$L: 767;
$SM: 576;
$XS: 414;

body,html{
	font-family: sans-serif; 
}

.wrap{
	max-width: 1200px;
	margin: 0 auto;
}
.header{
	padding: 1.5rem 5rem;
	background: $purple;
	display: flex;
	align-items: center;
	@include Bp($XL){
		padding: 1.5rem 3rem;
		justify-content: space-between;
	}
	@include Bp($L){
		display: block;
		padding: 0;
	}
}

.logo{
		margin-right: 14.5%;
		@include Bp($XL){
			margin-right: 0;
		}
		@include Bp($L){
			padding: 1.25rem 0;
			text-align: center;
		}
		a{
			display: block;
		}
	}
	.serach-content{
		display: flex;
		justify-content: center;
		padding: .5rem 0 .7rem;
		@include Bp($L){
			background: $black-100;
		}
		@include Bp($XS){
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	.search{
		display: flex;
		border-bottom: .5px solid $white;
		padding: .3rem 0;
		align-items: center;
		@include Bp($L){
			border-color: $black-900;
			width: 350px;
		}
		@include Bp($XS){
			width: 100%;
		}
		.icon{
			border: none;
			background:transparent;
			cursor: pointer;
			outline: 0;
			i{
				color: $white;
				@include Bp($L){
					color: $black-900;
				}
			}
		}
		.explore{
			font-size: $font-l;
			color: $white;
			width: 330px;
			padding-left: 1.2rem;
			border: none;
			background:transparent;
			outline: 0;
			@include Bp($XS){
				width: 100%;
			}
		}
		input::-webkit-input-placeholder{
    	color: rgba($white,.5);
    	font-style: italic;
    	font-size: $font-base;
    	@include Bp($L){
    		color: $black-700;
    	}
    }
	}


.content{
  background: $black-100;
  padding: 0 2.5rem;
  @include Bp($L){
  	padding: 0 3.5rem;
  }
  @include Bp($SM){
		padding: 0;
	}
  .box{
  	display: flex;
  	@include Bp($L){
  		flex-direction: column;
  	}
  }
}

.condition{
	margin-right: 40px; 
	@include Bp($L){
    margin: 0 auto;
    width: 450px;
	}
	@include Bp($SM){
  	width: 100%;
  }
	h3{
		font-weight: 700;
		font-size: $font-l;
		margin-bottom: 1.5rem;
		@include Bp($L){
			text-align: center;
		}
	}
	.location,.date,.categories{
		padding: 1.5rem 2.5rem;
		border-bottom: 1px solid $black-500;
		background: $black-300;
	}
	.country{
		width: 220px;
		padding: .5rem .5rem;
		border: none;
		border-radius: 3px;
	}	
	.time{
		text-align: right;
		@include Bp($L){
			text-align: center;
		}
		input{
			padding: .5rem .3rem;
			width: 170px;
			border: none;
			margin-left: 12px;
		}		
	}
	.dayfrom{
		margin-bottom: .5rem;
	}
	.categories{
		border: none;
	}
	.optional{
		input[type="checkbox"]{
			display: none;
		}
		label{
			display: block;
			margin-bottom: .6rem;
			@include Bp($L){
				width: 150px;
				margin: 0 auto .6rem;
			}
		}
		label::before{
			@include checkbox01;
			margin-right: .5rem;
		}
		input[type="checkbox"]:checked + label::before{
			@include checkbox01checked(16px,$white);
			background: $purple;
		}
	}
}

.result{
	width: 100%;
	padding: 1.5rem 0;
	@include Bp($L){
		padding: 1.5rem 2rem;
	}
	h2{
		font-size: $font-xl;
		margin-bottom: .5rem;
		@include Bp($L){
			display: none;
		}
	}
	.num {
		color: $purple;
		font-weight: 700;
	}
}

@include Bp($L){
	.location{
		text-align: center;
	}
	.time span{
		display: inline-block;
		width: 35px;
	}
}

.prompt{
	margin-bottom: 1.5rem;
	@include Bp($L){
		display: none;
	}
}
.btn{
	padding: .5rem 1rem;
	font-style: italic;
	border-radius: 50px;
	border: 1px solid $purple;
	color: $purple;
	background:transparent;
	cursor: pointer;
	transition: all .3s;
	outline: 0;
	margin-right: .5rem;
	&:hover{
		background: $purple;
		color: $white;
	}
	i{
		margin-left: .5rem;
	}
}

.details{
	margin-bottom: 1.5rem;
	display: flex;
	transition: all .3s;
	@include Bp($XL){
		flex-direction: column;
	}
	&:hover{
		box-shadow: 0 0 5px $black-700;
	}
	.photo{
		height: auto;
		min-width: 220px; 
		@include Bp($XL){
			height: 196px;
		}
	}
	.photo1{
		@include bgImg-cover ("https://images.unsplash.com/photo-1548013146-72479768bada?ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
	}
	.photo2{
		@include bgImg-cover ("https://images.unsplash.com/photo-1548678967-f1aec58f6fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80");
	}
	.photo3{
		@include bgImg-cover ("https://images.unsplash.com/photo-1540202404-a2f29016b523?ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
	}
} 

.description{
	background: $white;
	max-width: 560px;
	padding: 1.5rem 1.25rem;
	@include Bp(1024){
		padding: .75rem;
	}
	h3{
		line-height: 1.5;
		font-size: $font-xl;
		font-weight: 700;
		color: $purple;
		margin-bottom: 1rem;
	}
	p{
		line-height: 1.5;
		margin-bottom: 1.5rem;
		@include row-limit (2);
		@include Bp(1024){
			-webkit-line-clamp: 3;
		}
	}
}

.label{
	margin-bottom: 1rem;
	.label-title{
		font-weight: 700;
	}
	.label-condition{
		color: $white;
		font-style: italic;
		background: $black-500;
		padding: .2rem 1rem;
		border-radius: 50px;
		margin-left: 1rem;
		@include Bp(320){
			margin-left: 0;
			padding: .2rem .7rem
		}
	}
}

.other{
	.city{
		margin-right: 1.25rem;
	}
	span{
		color: $black-700;
		@include Bp(1024){
			display: block;
			&.city{
				margin-bottom: .5rem;
			}
		}
		i{
			margin-right: .5rem;
			color: $black-900;
		}
	}
}

.pages{
	display: flex;
	justify-content: flex-end;
	@include Bp($L){
		justify-content: center;
	}
	a{
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		text-decoration: none;
		color: $purple-light;
		background: $white;
		border: 1px solid $black-500;
		transition: all .3s;
		margin-left: -1px;
		@include Bp(320){
			width: 30px;
			height: 30px;
			line-height: 30px;
		}
		&:hover{
			background: $black-100;
		}
		&:active,&.active{
			background: $purple-light;
			color: $white;
			border: 1px solid $purple-light;
		}
	} 
}

